@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --main-color: #22D4FD;
    --black-color: #000000;
    --white-color: #f6f6f6;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}


.destaque {
    color: var(--main-color)
}

.apresentacao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria)
}

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria)
}

.redes-sociais {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    border: 0.125rem solid var(--main-color);
}

.apresentacao__links__link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
    transition: 0.5s;
}

.apresentacao__imagem {
    width: 50%;
}

.footer {
    color: var(--black-color);
    background-color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.cabecalho {
    padding: 2% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;

}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 70%;
    }
}